/assets/
/autosave/
/cache/
/clips/
/data/
/images/
/movies/
/renderData/
/sceneAssembly/
/scenes/edits/
/scenes/LOOKDEV_Light/
/scenes/WIP_ENV/
/scenes/WIP_PROP/
/scripts/
/sound/
/sourceImages/3dPaintTextures/
/sourceImages/WIP_Textures/
/Time Editor/
